<px-context-browser
    initial-contexts='{{initialContexts}}'
    handlers="ngScope:handlers"
    opened-item-name="Select Assets">
</px-context-browser>

<px-dashboard selected-deck="{{selectedDeck}}" context="{{context}}"></px-dashboard>

<px-card
  id="dashboard-description-card"
  header-text="Enterprise Wide Monitoring Application">


  <div class="layout">
    <div class="layout__item u-3/4">

        <p>Click 'Select Assets' above, then drill down to find equipment and view data.</p>

        <p>
          To see aggregated details on a sample group of manufacturing assets, select Mostly Suds > Denver > Bottling Line 1 in the asset browser, and click "Open".
        </p>

        <p>
          To see details on an asset, browse to Mostly Suds > Denver > Bottling Line 1 > Filler, and click "Open".
        </p>

        <p>To read more information about this application, select the "About" menu item on the left.</p>
    </div>
    <div class="layout__item u-1/4">
      
    </div>
  </div>
  <br/>
  <div style="text-align: center;">
    <img src="images/good2-turbine.png" alt="bottling"  width="350px">
  </div>
</px-card>
